body{
    background-color: rgb(120, 122, 122);
}

#app {
    display: flex;
}
#app div{
    flex-grow: 1;
    background-color: #ffffff;
    margin: 5px;
    margin-top: 0px;
}

#meals {
    margin-left: 0px;
}

#orders {
    margin-right: 0px;
}

ul {
    list-style-type: none;
}

#submit {
    background-color: #17489e;
    color: #ffffff;
    padding: 10px 15px;
    border: solid 0px;
    border-radius: 25px;
    margin: 15px;
    margin-left: 38px;
}

#submit:disabled{
    background-color: #cccccc;
}

#meals-list li{
    cursor: pointer;
}
.selected{
    background-color: #eeeeee;
    color: #17489e;
}
#app .form-main {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 15px;
    padding-bottom: 30px;
}
.login-form{
    margin-bottom: 5px;
    font-size: 14px;
}

form input{
    width: calc(100% - 11px);
    height: 24px;
    padding-left: 5px;
    background-color: #DEDEDE;
    border: solid 0px;
    border-radius: 4px;
    color: #555555;
}

.btn{
    border: solid 0px;
    padding:  10px 15px;
    background-color: #295092;
    color: #ffffff;
    border-radius: 4px;
    margin-top: 15px;
}

.block {
    width: calc(100% - 4px);
}

.form-title {
    text-align: center;
    font-size: 24px;
}